.Detalles_Riego {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 1vmin);
    color: #4A8260;
  }
  .btn-primary {
    color: rgba(255, 231, 196, 0.699);
    background-color: #4A8260;
    border: none;
    border-radius: 6px;
    height: 25px;
    box-shadow:  -2px 5px 5px 5px rgba(0,0,0,0.2), inset -2px -4px 5px 0px rgba(0,0,0,0.19);
  }
   
