.Home {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(7px + 2vmin);
    color: #4A8260;
  }
  .btn-primary {
    color: rgba(255, 231, 196, 0.699);
    background-color: #4A8260;
    border: none;
    border-radius: 6px;
    height: 25px;
    box-shadow:  -6px 20px 16px 20px rgba(0,0,0,0.2), inset -2px -4px 5px 0px rgba(0,0,0,0.19);
    line-height:1px;
  }
   

  .btn-primary:hover {
    background-color: #4c85bb; /* Green */
    color:  rgba(255, 231, 196, 0.699);
    
  }
  #h1{
    font-size: 1px;

  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .wrapper-big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }  
  .one {
    grid-column: 1 ;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1 ;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
  }
  .three-center {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 3;
    grid-row: 2;
  }  
  .table{
    width:80% !important;
    color:#4A8260

  }

  .table td{
    color: #4A8260
  }