.login {
    background-image: url("https://images.squarespace-cdn.com/content/v1/59765fd317bffcafaf5ff75c/1533928323155-RFPZN0RJFNN2ZOL0CAZB/ke17ZwdGBToddI8pDm48kPqqSyACCqE7Nh2t9oSvxH4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKclAZFykFixy2ykGcIOfOlMklaQha5L4AumRTjZ9gW4iHzVApkseEHhE2Rlr1x3zqf/future+with+urban+farming.jpg?format=1000w");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #4A8260;
    background-repeat: no-repeat;
    background-size: 100%;    
}

  
  .containerSecundario{
    text-align: center;
  }

  .form-group{
    font-size: 20px;
  }
  .form-control{
    background-color: #17242E;
    color: #4A8260;
    border-radius: 5px;
    height: 20px;
  }
  .par{
    font-size: 13px;
  }