.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);

}


:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #4A8260;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  
}
.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: white;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 500;
  
  &[type=reset]{
    background: var(--color-background);
    font-weight: 200;
  } 
  line-height:1px;
}

.card--inverted {
  --color-background: #212121;
  color: white;
  --color-shadow: #4A8260;
}

.input__field{
  width:80%;
  border-radius:10px;
  cols:10

}

.input {
  position: relative;
  

}


.Recetas {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #4A8260;
  }


  .tablePrincipal{
    width:80% !important
  }

  .btn-inner-cell{
    padding: 10 10 10 10 !important
  }

  .tableRecetas{
    width:80% !important
  }