.Cultivos {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #4A8260;
  }


  .tablePrincipal{
    width:80% !important
  }

  .btn-inner-cell{
    padding: 10 10 10 10 !important
  }
  .leaflet-container {
    overflow: inherit !important;
    height: 15%;
    
  }

  .leaflet-control-container{
    display: none !important;
  }

