.Alertas {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #4A8260;
  }


  .tablePrincipal{
    width:80% !important
  }

  .btn-inner-cell{
    padding: 10 10 10 10 !important
  }


  .rowDanger{
    background-color: #a93838 !important;
    color: white !important;
  }

.btn-reject{
  background-color: #a93838 !important;
  color:white !important;
}